<h1>Pregunta y Respuesta</h1>

<ul>
  {{#each question in model}}
    <li>{{#link-to 'question' question.id}}{{question.question}}{{/link-to}} by: {{question.author}} at: {{format-date question.timestamp}}</li>
  {{/each}}
</ul>

<!-- <p>Sort by <a href='#' {{action 'sortByQuestion'}}>question</a>,
<a href='#' {{action 'sortByAuthor'}}>author</a>, or
<a href='#' {{action 'sortByDate'}}>date</a>.</p> -->


{{#link-to 'new-question' classNames="btn btn-primary"}}New Question{{/link-to}}
